# dependencies
/node_modules

# next.js
/.next
/out

# build
/dist

# misc
.DS_Store
*.pem
LGCID Logo.zip
LGCID Incident Report.txt
LGCID Style Guide.txt

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# AI tools
.playwright-cli
.claude
.worktrees
.env*.local
/output*
